@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h4 class="display-2">IFCT67 - proyecto de final:</h4>

    <p style ="text-align: left;">
        Esta App "ASP.NET Core MVC" es el proyecto final del curso "IFCT67 Desarrollo Avanzado de .NET", una experiencia <br />
        que me ha servido para aprender este entorno y en la que he disfrutado del proceso de desarrollo.</p>
    <p style="text-align: left;">Por circunstancias de ocupación no he dispuesto del tiempo suficiente para realizar todas las tareas que hubiera <br /> 
        querido para mejorarlo y completarlo, espero que esto sea suficiente</p>
    <p style="text-align: left;">
        Nota:<br />
        Pedro: En el servicio "CurrencyConverterService" existe un campo "_apiKey" con una clave que no funciona, debes  <br />
        poner en ese lugar tu propia clave para poder obtener el resultado de conversión (ya sabes).
    </p>

    <p> ============================================================================<br />
        Este proyecto tiene una existencia asegurada de 10 días, superado ese tiempo<br />
        podrá eliminarse en cualquier momento. <br />
        ============================================================================</p>

</div>
